* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    color: white;
    background-color: #327ba8;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.nav h1 {
    text-align: center;
}

/* MAIN CONTENT */
.main{
    background-color: whitesmoke;
    height: 200px;
    width: 95%;
    margin: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 8px  #327ba8;
}

.items{
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    width: 75%;
    
}

.pay_group, .hours_group, .days_group{
    display: inline;
}

@media screen and (max-width: 940px){
    .pay_group, .hours_group, .days_group{
        display: block;
    }
    .main{
        height: 250px;
    }
}


label {
    font-size: 20px;
}

input {
    width: 80px;
    height: 25px;
}

select {
    width: 80px;
    height: 25px;
}

.enter {
   width: 50%;
   margin: auto;
   text-align: center; 
}

button {
    
    margin-top: 30px;
    width: 120px;
    height: 45px;
    color: white;
    background-color: #327ba8;
}

button:hover{
    color: black;
    background-color: lightblue;
}

.salary_text{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.info{
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 50% 50%;
}

table {
    width: 90%;
    border: 1px solid black;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    width: 100px;
    
  }

  th {
      background-color:  #327ba8;
      color: white;
      
  }

  tr:nth-child(even){
      background-color: lightgray;
  }

  @media screen and (max-width: 800px){
    .info{
        width: 90%;
        margin: 0px auto;
        padding-top: 50px;
        font-size: 18px;
        display: block;
        
    }
}